In [3]:
#Q1. How do you comment code in Python? What are the different types of comments?
#Ansrwe)
# If we want to begin any comment in python, than it starts with hash mark(#).
#There are two types of comments in python, they are,single line comment and multiple line comments.
# Single line comments starts and ends in the same line which is initiated with the hash mark(#).
#In Multiple line comments, there is no limit of writing the comments, developer uses it when he/she needs to write a complete paragraph or multiple instructions which are not the part of the code.
#Even Multiple line comments stars with the hash mark(#)

In [7]:
#Q2. What are variables in Python? How do you declare and assign values to variables?
#Answer)
#Variable is a name given to the memory location. For declaring we first use any character or a group of charaters which we can say as naming and with the equal to(=) sign we enter the value we want to assign to that variable. That valus may be string, Integer, floot, Boolen, Dictionary, etc
#Example
#a=45, here whenever we calls the a, will get 45 which means we have assigned 45 to the variable a.

In [9]:
#Q3. How do you convert one data type to another in Python?
#Answer)
#There are two methods to convert one data type to another,
#1)Implicit type conversion: In this type of conversion of data type, python interpreter automatically converts one type of data into another without any user involvement
#for an example if we add any integer number with float number, the output will be in float number

#2)Explicit type conversion: Here user have to mention the type of data type which he/she whants in the output.
#example:
#if a=2, 
#since a is interger data type and if we want to convert it in float then we should follow the below method
#float(a)
#o/p: 2.0

In [1]:
#Q4. How do you write and execute a Python script from the command line?
# Answer)
#To write and execute a Python script from the command line, we need to verify that our terminal or command prompt can run Python. Then, will create a Python script that is error-free. To run the script, we can call the Python program from the Command Prompt and tell it which file to execute. we can also specify the path to the script or have the same working directory. To exit the interactive session, we can type quit() or exit()

In [2]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [3]:
my_list=[1,2,3,4,5]

In [33]:
my_list[1:3]

[2, 3]

In [5]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?

In [6]:
#Answer)
#Complex number is something which has a real and an imaginary part. 
#E.g : 34 + 17j or 34+17J

In [10]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

#Variable names must begin with a letter, underscore, non-number character. and we must always use the ‘=’ sign to initialize a value to the Variable.

age=25
age

25

In [11]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [14]:
#answer
price=9.99
#its a float data type

In [15]:
type(price)

float

In [16]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [17]:
name='syed shoaib'

In [32]:
name

'syed shoaib'

In [21]:
#or another way
for i in name:
    print(i)

s
y
e
d

s
h
o
a
i
b

In [22]:
#Q10. Given the string "Hello, World!", extract the substring "World".

In [25]:
a='hello world!'

In [28]:
a[6:11]

'world'

In [29]:
#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [31]:
#answer
is_student=input('are you a student')
if is_student=='yes':
    print(True)
else:
    print(False)

are you a student yes

True